.wrapper {
  margin-bottom: 0.6rem;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.input {
  display: block;
  border: 1px solid #D1C4DA;
  border-radius: 0.4rem;
  font-size: 1rem;
  width: 100%;
  padding: 0.65rem;
  transition: 0.2s;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #1414E0;
  background: #FFF;
  box-shadow: 0 0 0 .5px #343FE6;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}