* {
  box-sizing: border-box;
 }

 body {
  /* depois de definir um valor apdrão no body, colocamos uma valor de paddin-top para os itens que ficaram atrás do 'nav' irem para baixo */
  margin: 0px;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-secound: 'Spectral', georgia;
  font-family: var(--type-first);
 }

 button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
 }

 .App {
  display: flex;
  min-width: 800px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}